$primary-red: #e31b6d;
$primary-dark: #1b242f;
$secondary-blue: #3db5c5;

@mixin pos(
  $pos: absolute,
  $top: null,
  $left: null,
  $bottom: null,
  $right: null
) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: $pos;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.disable-hover {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: rgb(226, 226, 226);
  font-weight: 500;
}

/* Home/Landing page section */

#home {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: grayscale(30%);
  opacity: 0.7;
}

.image-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.849);
}

.content {
  z-index: 10;
}

.intro h1 {
  font-weight: 300;
  font-size: 2.8rem;
  color: rgb(226, 226, 226);
}

.name {
  color: #dc143c;
  font-weight: 500;
}

.btn-home {
  text-align: center;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  padding: 0.7em 1.6em;
  border: 0.1em solid rgb(226, 226, 226);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.btn i {
  padding-left: 10px;
  transition: 0.6s;
}

.btn:hover {
  background-color: $secondary-blue;
  border-color: $secondary-blue;
}

.btn:hover i {
  transition: 0.6s;
  transform: rotate(90deg);
}

/* About page section */
#project {
  height: 100vh;
  position: relative;
  background: rgb(245, 245, 245);
}

/* Navbar */
.navigation {
  background-color: #1b242f;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2.5px solid $secondary-blue;
  top: 0;
  position: sticky;
  z-index: 1;
}

.navbar {
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-item {
  padding: 5px 20px;
  font-size: 1.3rem;
  position: relative;
}

.nav-item:hover {
  color: $primary-red;
}

.nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  background: #e31b6d;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  left: 19%;
}

.nav-item:hover:after {
  width: 62.5%;
}

.active {
  color: $primary-red;
}
.active:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  background: $primary-red;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 62.5%;
  left: 19%;
}

/* Projects showcase */

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.row {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.project-section {
  margin: 45px 0;
}

.project-header {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  color: $primary-dark;
  text-align: center;
}

.header-bar {
  border-bottom: 6px solid $primary-dark;
  width: 250px;
  margin: 10px auto;
}

#gallery {
  margin: 150px 0;

  .text {
    margin: 30px 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: #1b242f;
    .bold {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .highlight {
      color: $primary-red;
    }
  }

  .btn-gallery {
    z-index: 2;
    display: inline-block;
    padding: 0.7em 1.6em;
    border: 0.1em solid $primary-dark;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.4em;
    box-sizing: border-box;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #3db5c560;
    font-weight: 600;
    color: $primary-dark;
    transition: all 0.15s ease;
  }

  .mix {
    position: relative;
    display: none;

    .waypoint {
      background: #fff;
    }

    .btn-gallery {
      &:hover {
        background: rgba(98, 219, 235, 0.774);
        padding: 0.6em 1.5em;
      }
    }

    .card {
      margin: 0 30px;
      height: 35vh;
      max-width: 100%;
      width: calc(26vw - 10px);
      cursor: pointer;
      transition: opacity 0.5s;
      border-radius: 0.4em;
      box-shadow: 0px 8px 13px 14px rgba(190, 190, 190, 0.199),
        -10px 8px 18px 14px rgba(190, 190, 190, 0.199),
        10px 8px 18px 14px rgba(190, 190, 190, 0.199);
    }

    .buttons {
      @include pos($bottom: 0, $left: 0, $right: 0);
      text-align: center;
      z-index: 5;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      .card {
        opacity: 0.2;
      }
      .text {
        top: 24%;
      }
      .buttons {
        opacity: 1;
        bottom: 52%;
      }
    }
  }

  #devsite {
    background-image: url('../../img/gallery/thumb-1.jpg');
    background-size: 100% 100%;
  }

  #shelf {
    background-image: url('../../img/gallery/thumb-2.jpg');
    background-size: 100% 100%;
  }

  #tail {
    background-image: url('../../img/gallery/thumb-3.jpg');
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 414px) {
  #project {
    height: 100%;
  }

  #gallery {
    margin: 0 auto;
  }
  #gallery .mix .card {
    width: 70vw;
    height: 25vh;
  }
}
