$primary-red: #e31b6d;
$primary-dark: #1b242f;
$secondary-dark: #1b242fb0;
$secondary-blue: #3db5c5;
$primary-light: #e2e2e2;

@mixin pos(
  $pos: absolute,
  $top: null,
  $left: null,
  $bottom: null,
  $right: null
) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: $pos;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  background: rgb(245, 245, 245);
}

.disable-hover {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: $primary-light;
  font-weight: 500;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.row {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.hex-wrap {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
}

.hexagon {
  background-color: $secondary-blue;
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
}

.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
}

.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}

.flex.row-gt-sm {
  flex-direction: row;
  margin: 30px 0;
}

// Home/Landing page section

#home {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: grayscale(30%);
  opacity: 0.7;
}

.image-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.849);
}

.content {
  z-index: 10;
}

.intro h1 {
  font-weight: 300;
  font-size: 2.8rem;
  color: #e2e2e2;
}

.name {
  color: #dc143c;
  font-weight: 500;
}

.btn-home {
  text-align: center;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  padding: 0.7em 1.6em;
  border: 0.1em solid rgb(226, 226, 226);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.btn i {
  padding-left: 10px;
  transition: 0.6s;
}

.btn:hover {
  background-color: $secondary-blue;
  border-color: $secondary-blue;
}

.btn:hover i {
  transition: 0.6s;
  transform: rotate(90deg);
}

// NAVBAR
.navigation {
  background-color: $primary-dark;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $secondary-blue;
  top: 0;
  position: sticky;
  z-index: 1;
}

.navbar {
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-item {
  padding: 5px 20px;
  font-size: 1.3rem;
  position: relative;
}

.nav-item:hover {
  color: $primary-red;
}

.nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  background: #e31b6d;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  left: 19%;
}

.nav-item:hover:after {
  width: 62.5%;
}

.active {
  color: $primary-red;
}
.active:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  background: $primary-red;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 62.5%;
  left: 19%;
}

// Projects showcase

#project {
  height: 100vh;
  position: relative;
  margin-bottom: 50px;

  .label-wrap {
    .label {
      margin: 20px 0 10px 0;
      font-size: 1.25rem;
      font-weight: 500;
      color: $secondary-dark;
    }
  }

  .bullet-wrap {
    justify-content: flex-start;
    padding: 0 7px;
    height: 140px;
    width: 30%;
    text-align: center;
  }

  .hexagon i {
    position: absolute;
    top: 30%;
    font-size: 1.9rem;
    color: #fff;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .highlight {
    font-size: 1rem;
    color: $secondary-dark;
  }
}

.project-section {
  margin: 25px 0 0 0;
}

.project-header {
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  color: $primary-dark;
  letter-spacing: 1px;
  text-align: center;
}

.header-bar {
  border-bottom: 4px solid $primary-dark;
  width: 185px;
  margin: 5px auto;
}

#gallery {
  margin: 80px 0 0 0;

  .text {
    margin: 30px 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: $primary-dark;
    .bold {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .highlight {
      color: $primary-red;
    }
  }

  .btn-gallery {
    z-index: 2;
    display: inline-block;
    padding: 0.7em 1.6em;
    border: 0.1em solid #1b242f79;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.4em;
    box-sizing: border-box;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #3db5c560;
    font-weight: 500;
    color: $primary-dark;
    transition: all 0.15s ease;
  }

  .mix {
    position: relative;
    display: none;

    .waypoint {
      background: #fff;
    }

    .btn-gallery {
      &:hover {
        background: #3db5c58c;
        padding: 0.6em 1.5em;
      }
    }

    .card {
      margin: 0 40px;
      height: 36vh;
      max-width: 100%;
      width: calc(27vw - 10px);
      cursor: pointer;
      transition: opacity 0.5s;
      border-radius: 0.4em;
      box-shadow: 0px 8px 13px 14px rgba(190, 190, 190, 0.199),
        -10px 8px 18px 14px rgba(190, 190, 190, 0.199),
        10px 8px 18px 14px rgba(190, 190, 190, 0.199);
    }

    .buttons {
      @include pos($bottom: 0, $left: 0, $right: 0);
      text-align: center;
      z-index: 5;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      .card {
        opacity: 0.2;
      }
      .text {
        top: 24%;
      }
      .buttons {
        opacity: 1;
        bottom: 52%;
      }
    }
  }

  #devsite {
    background-image: url('../../img/gallery/thumb-1.jpg');
    background-size: 100% 100%;
  }

  #shelf {
    background-image: url('../../img/gallery/thumb-2.jpg');
    background-size: 100% 100%;
  }

  #tail {
    background-image: url('../../img/gallery/thumb-3.jpg');
    background-size: 100% 100%;
  }
}

#about {
  height: 100vh;
  background: #fff;
  position: relative;
  overflow: hidden;

  .about-section {
    padding: 25px 0 0 0;
  }

  .about-header {
    font-size: 2.5rem;
    font-weight: 700;

    position: relative;
    color: $primary-dark;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0;
  }
  .about-bar {
    border-bottom: 4px solid $primary-dark;
    width: 145px;
    margin: 5px auto;
    opacity: 0;
  }

  .header-secondary {
    margin: 70px 90px;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #1b242fee;
  }

  .row {
    max-width: 85%;
    margin: 70px auto;
    position: relative;

    .column {
      width: 40vw;
      margin: 10px 0;

      .text-header {
        font-size: 1.5rem;
        margin: 12px 0;
        color: $primary-dark;
      }

      .bread {
        color: $secondary-dark;
        font-size: 1.2rem;
        margin: 0 0 40px 0;
      }
    }

    .column-stack {
      .stack {
        position: absolute;
        display: flex;
        left: 660px;
        top: 0;
      }
      .hex-wrap {
        margin: 0 50px;

        .stack-img img {
          height: 150px;
          width: 150px;
          filter: drop-shadow(0.5px 1px 2px #1b242fee);
        }
      }
    }

    .skills {
      position: absolute;
      left: 890px;
      top: 42%;
      text-align: center;

      .skills-header {
        font-size: 1.6rem;
        margin: 10px 0;
        color: $secondary-dark;
      }

      .skill-list {
        font-size: 1.1rem;
        list-style: none;

        .skill-item {
          margin: 15px 0;
          color: $secondary-blue;
        }
      }
    }
  }
}

#contact {
  height: 100vh;
  position: relative;
  background-color: $primary-dark;
  overflow: hidden;

  .contact-header {
    padding: 25px 0 0 0;
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    color: $primary-light;
    letter-spacing: 1px;
    text-align: center;
  }

  .contact-bar {
    border-bottom: 4px solid $primary-light;
    width: 175px;
    margin: 5px auto;
  }

  .row {
    max-width: 85%;
    position: relative;
    margin: 100px auto;

    .contact-form {
      margin: 10px 0;
      width: 40vw;

      .form-header {
        color: $secondary-blue;
        font-size: 1.8rem;
        margin: 40px 110px;
      }

      label {
        color: $primary-light;
        font-size: 1.2rem;
      }
      input[type='text'],
      input[type='email'],
      textarea {
        display: block;
        width: 400px;
        outline: none;
        border: 0;
        padding: 10px 15px;
        margin: 5px 0 20px 0;
        background-color: #343d49fd;
        color: $primary-light;
        font-size: 1rem;
      }
      .btn-contact {
        margin: 10px 0 0 125px;
        font-size: 1.3rem;
        padding: 10px 30px;
        color: $primary-light;
        background: transparent;
        outline: 0;
        border-radius: 0.4rem;
        cursor: pointer;

        &:hover {
          background: $secondary-blue;
          border-color: #37808a8c;
        }
      }

      #success {
        height: 0;
        width: 100%;
        overflow: hidden;
        position: relative;
        transition: height 0.25s;

        &.expand {
          height: 36px;
        }
      }
    }
    .contact-social {
      position: absolute;
      top: 210px;
      left: 60%;
      display: flex;
      overflow: hidden;
      text-align: center;
      .social-link {
        cursor: pointer;
        width: 90px;
        height: 90px;
        margin: 0 40px;
        background: #343d49fd;
        font-size: 2.1rem;
      }

      i {
        margin: 30px 0 0 0;
      }
    }
  }

  .madeby {
    color: $primary-light;
    text-align: center;
    bottom: 200px;
  }
}

// Media queries

@media (max-width: 1300px) {
  #about {
    .row {
      .column-stack {
        .stack {
          left: 550px;
        }
      }
      .skills {
        left: 780px;
      }
    }
  }
}

@media (min-width: 1600px) {
  #about {
    .row {
      .column-stack {
        .stack {
          left: 900px;
        }
      }
      .skills {
        left: 1130px;
      }
    }
  }
}

@media (min-width: 1900px) {
  #about {
    .row {
      .column-stack {
        .stack {
          left: 1100px;
        }
      }
      .skills {
        left: 1330px;
      }
    }
  }
}

@media (min-width: 2400px) {
  #about {
    .header-secondary {
      font-size: 2rem;
      margin: 100px 120px;
    }
    .row {
      .column {
        .text-header {
          font-size: 2rem;
        }

        .bread {
          font-size: 1.5rem;
          margin: 0 0 60px 0;
        }
      }
      .column-stack {
        .stack {
          left: 1370px;
        }
        .hex-wrap {
          margin: 0 100px;
          .stack-img img {
            height: 230px;
            width: 230px;
          }
        }
      }
      .skills {
        top: 60%;
        left: 1765px;

        .skills-header {
          font-size: 2rem;
        }

        .skill-list {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  #project {
    height: 100%;
    .flex.row-gt-sm {
      margin: 25px 0 180px 0;

      .hex-wrap {
        height: 55px;
        width: 55px;
      }

      .hexagon i {
        font-size: 1.6rem;
      }

      .label {
        font-size: 1rem;
      }
      .highlight {
        font-size: 0.8rem;
      }
    }
  }

  #gallery {
    margin: 0 auto;
  }
  #gallery .mix .card {
    width: 65vw;
    height: 25vh;
  }

  #about {
    height: 100%;

    .header-secondary {
      margin: 40px 10px;
    }

    .row {
      margin: 10px 20px;
      width: 100%;
      .column {
        width: 80%;
        margin: 0 auto;
      }

      .column-stack {
        display: none;
        position: relative;
      }
    }
  }
}
